<html>
        <head>
                <title>
                        <%=title%>
                
                </title>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


                <link rel="stylesheet" href="/css/home.css">

        </head>
        <body>
             <h1 id="page-heading"> 
                <i class="fa fa-address-book"></i> My Contact List
        
             </h1>
             <div id="contact-list-container"> 
                     <ul>
                             <%for (let i of contact_list) {%>
                                <li class="contact">
                                        <div id="details"> 
                                        <p><%=i.name%></p>
                                        <p><%=i.phone%></p>
                                        </div>
                                        <div class="delete-button">
                                                <a href="/delete-contact/?phone= <%=i.phone %>">
                                                        <i class="fa fa-window-close"></i>

                                                </a>

                                        </div>
                                </li>
                                <%} %>
                     </ul>
             </div>  
              <form  id="new-contact-form" action ="/contact-List" method="POST">
                      <input type="text" name="name" placeholder="Enter Name" required>
                      <input type="text" name="phone" placeholder="Enter Phone" required>
                      <button type="submit">Add </button>
              </form>
              <script type="text/javascript" src="/js/home.js"></script>

        </body>
</html>