body{
        margin: 0;
}
#page-heading{
        margin-top: 25px;
        color: grey;
        text-align: center;
}
#contact-list-container{
        padding: 0;
        list-style: none;
}
.contact{
        padding: 3px 10px;
        border: 1px solid white;
        background-color: #6f92f9;
        box-shadow: 1px 1px 1px 1px lightgray;
        color: white;
        display: flex;
}
.contact .details{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
}
.contact .delete-button{
        width: 10%;
        padding: 3px;
        margin-top: 5px;
        text-align: center;
}
.contact .delete-buttton a{
        color: white;
        background-color: red;

}
.contact p{
        margin: 5px 0;
}
